* {
	/*border: 1px solid red;*/
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: none;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}
.container {
	padding: 0;
	width: 100%;
	max-width: 2000px;
}

.container:before, .container:after {
	content: "";
	display: table;
	clear: both;
}
/*style for pink line*/
.line {
	width: 200px;
	height: 2px;
	background-color: #ed145b;
	margin: 40px auto; 
}

/*BUTTON*/

.intro-cta {
	text-align: center;
	margin-top: 57px;
	margin-bottom: 150px;
}

.intro-cta a {
	color: #f4f4f4;
	font-family: Lato;
	font-size: 15px;
	font-weight: 700;
	line-height: 38px;
	text-transform: uppercase;
	letter-spacing: 0.38px;
	padding: 15px 60px;
}
.intro-cta a:hover {
	color: #ed145b;
	text-decoration: none;
}
.button-primary {
	width: 200px;
	height: 50px;
	border-radius: 35px;
	background-color: #ed145b;
}

.intro-cta .button-primary:hover {
	background-color: transparent;
	border:2px solid  #ed145b;
	transition: background-color 0.3s linear;
}







/*NAVBAR**********************************************************************************************************************************************/
.navbar-default {
	background-color: transparent;
	border: none;
}

.navbar {
	min-height: 80px;
	margin-bottom: 0;
}

.navbar-brand {
	height: 80px;
	padding: 40px 0 0 16px;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: capitalize;
	padding: 46px 14px 0 2px;
	transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.navbar-default .navbar-nav>li>a:hover {
		color: #ed145b;
	}

.navbar-default .navbar-nav>li>a:focus {
		color: #ed145b;
	}

h2 {
	font-style: italic;
	font-size: 38px;
	line-height: 52px;
	color: #5a5a5a;
}

p {
	font-size: 15px;
	line-height: 30px;
	color: #5a5a5a;
}

/*HERO SECTION **************************************************************************************************************************************/

header {
	background-image: url("../img/free.png");
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	padding: 0 50px;
	position: relative;
	z-index: 2;
}

header .hero {
	height: calc(100vh - 80px);
	display: table;
}

header .content {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
}

header h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 46px;
}

header strong {
	font-weight: 900;
}

header .line {
	margin: 40px auto; 
}

header p {
	font-size: 22px;
	font-weight: 300;
	line-height: 38px;
	color: #ffffff;
}

header .intro-cta1 {
	margin: 66px auto;

}
/*VIDEO SECTION*****************************************************************************************************************************************/

.video {
	background-color: #f4f4f4;
	height: 116vh;
}
.video .skew-ornament {
	width: 100%;
	height: 60px;
	background-color: #ed145b;
	transform: skewY(-0.9deg);
	position: absolute;
	top: 94vh;
	z-index: 1;
}
.video-content {
	margin-top: 135px;
	padding-left: 70px;
}
.video .line {
	margin: 40px 0; 
}
.mcbook {
	margin: 0;
	padding: 0;
	margin-top: 145px;
}

.video .video-content a {
	text-transform: uppercase;
	color: #ed145b;
	font-weight: 400;
	display: inline-block;
	margin-top: 34px;	
	font-size: 15px;
	text-decoration: none;
}

.video .video-content span {
	border: 1px solid #ed145b;
	width: 28px;
	height: 28px;
	padding: 6px;
	border-radius: 20px;
	margin-left: 18px;
	animation-name: span-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes span-animation {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.1);}
    100% {transform: scale(1);}
}





/*OUR-SERVICES****************************************************************************************/

.our-services {
	padding: 50px 100px;
	min-height: 50vh;
}
.our-services-content,
.our-services-content hr {
	text-align: center;
	margin: 0 auto;
}
.our-services-content h2{
	color: #5a5a5a;
	font-family: Lato;
	font-style: italic;
	font-size: 38px;
	font-weight: 400;
	letter-spacing: 0.95px;
	margin-bottom: 20px;
	margin-top: 50px;
}
.our-services-content p {
	color: #5a5a5a;
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.38px;
	max-width: 700px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}
.our-services h3 {
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.38px;
	text-align: center;
	white-space: nowrap;
}
.our-services .col-md-3 {
	text-align: center;
}
.our-services img:hover {
	transform: scale(1.2);
	transition: transform 1s 0s;
}




/*CAROUSEL*********************************************************************************************/
.carousel {
	margin: 0 auto;
	min-height: 500px;
}
.carousel-inner {
	height: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	height: 500px;
}
.carousel-caption img {
	width: 62px;
	height: 50px;
	color: #ed145b;
	font-family: "Droid Serif";
	font-weight: 700;
	letter-spacing: 3.95px;
}
.carousel-caption p{
	color: #ffffff;
	font-family: Lato;
	font-style: italic;
	font-size: 25px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0.63px;
	margin: 30px 0;
}
.carousel-caption {
	height: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}

@media (max-width: 900px) {
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right,
	.carousel-indicators li {
		display: none;
	}
	.carousel-caption p {
	font-family: Lato;
	font-style: italic;
	font-size: 20px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0.63px;
	margin: 15px 0;
	}
}
@media (max-width: 550px) {
	.carousel-caption p {

	font-family: Lato;
	font-style: italic;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.63px;
	margin: 10px 0;
	}
	.row {
		float: none;
	}
}

/* Prizes section ********************************************************************************************************************************/

.prizes {
	width: 100%;
	background-color: #f4f4f4;
	text-align: center;
	padding-bottom: 140px;
}
.prizes .row {
	padding: 0 50px;
}

.prizes h2 {
	margin-top: 120px;
	text-transform: capitalize;
}

.p-prizes {
	max-width: 686px;
	margin: 0 auto 40px auto;
}

.box-prize {
	height: 465px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
    margin-top: 50px;
}

.prize-header {
	width: 100%;
	height: 150px;
	background-color: #5a5a5a;
	padding-top: 26px;
	margin-bottom: 50px;
}

.prize-header {
	color: #ffffff;
	font-weight: 700;
}

.prize-header h4 {
	font-size: 20px;
	margin: 0;
}

.prize-header span {
	font-size: 50px;
	margin: 0;
}

.prize-header h5 {
	font-size: 15px;
	margin: 0 0 28px 0;
}

.like-button {
	width: 200px;
	height: 50px;
	background-color: #f4f4f4;
	text-align: center;
	line-height: 50px;
	border-radius: 50px;
	font-weight: 700;
	font-size: 15px;
	color: #5a5a5a;
	margin: 0 auto;
	text-transform: uppercase;
}

.prizes .intro-cta {
	margin: 0;
	margin-top: 35px;
}
.prizes .button-primary {
	background-color: #ed145b;
}
.box-prize:hover > .prize-header {
    background: #ED145B;
}
.box-prize:hover .like-button  {
    background: #ED145B;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
}

/* Info section */

.info-card  {
	padding-top: 60px;
	padding-bottom: 10px;
}

.info-card h3 {
	margin: 0 0 20px 0;
	text-transform: uppercase;
	color: #ec135b;
	font-size: 15px;
	font-weight: 700;
}

.info-card p {
	font-weight: 300;
	color: #838383;
}

.info-row {
	padding: 70px 0 90px 0;
}



/*SERVICES********************************************************************************************/
.services {
	margin: 145px 120px 120px 100px;
}
.services .row {
	padding-bottom: 80px;
}
.services .col-md-4, 
.services .col-md-8 {
	padding-left: 0;
	padding-right: 0;
}

.services h3 {
	margin-top: 0;
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.38px;
}
.services p {
	padding-right: 0;
	color: #5a5a5a;
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.38px;
}

.prices a {
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.38px;
}


/*JOIN********************************************************************************************/
.join {
	background-color: #ed145b;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 55px 0;
	margin-bottom: 140px;
}
.join-banner h1 {
	display: block;
	float: left;
	font-family: Lato;
	font-size: 38px;
	font-weight: 300;
	line-height: 52px;
	text-transform: uppercase;
	letter-spacing: 0.95px;
	margin-left: 77px;
}
.join-banner span {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: 0.95px;
}
.join .col-md-3 {
	padding-top: 20px;
}
.join .intro-cta {
	text-align: center;
	margin: 0;
}
.join .intro-cta a {
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.38px;
}
.join .intro-cta a:hover {
	color: #ffffff;
	text-decoration: none;
}
.join .button-default {
	width: 200px;
	height: 50px;
	border-radius: 35px;
	background-color: #ffffff;
}
.join .intro-cta .button-default:hover {
	background-color: #ed145b;
	border:2px solid #ffffff;
	transition: background-color 0.3s linear;
}





/*GALLERY*****************************************************************************************/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 20px;
  transition: .5s ease;
}

.gll:hover .overlay {
  height: 100%;
}





.gallery {
	margin-bottom: 60px;
}
.gallery .row{
	margin: 0 auto;
	text-align: center;
	padding: 0 90px;
	position: relative;
}

.gallery .updates {
	padding: 0 350px;
	text-align: center;
	justify-content: center;
	margin-bottom: 100px;
}
.gallery .updates p {
	text-align: center;
}
.gallery hr{
	margin: 33px auto;

}
.gallery .first {
	margin-bottom: 60px;
}
.gallery .content {
	background-color: #f4f4f4;
	width: 360px;
	height: auto;
}
.gallery img {
	width: 360px;
	height: auto;
}

.gallery .ph {
	position: relative;
	z-index: 1;
}
.gallery .tx {
	position: relative;
	z-index: 3;
	background-color: #F4F4F4;
	padding-bottom: 10px;
}
.gallery .skew-ornament {
	width: 360px;
	height: 20px;
	background-color: #ed145b;
	transform: skewY(1.5deg);
	position: absolute;
	top: 58%;
	z-index: 2;
}

.layer {
	box-sizing: border-box;
	position: absolute;
	width: 360px;
	height: 250px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(0,0,0, 0.5);
	color:  #fff;
	opacity: 0;
	cursor: pointer;
}
.col-md-4 .layer i.fa {
	line-height: 250px;
	padding: 0 5px;
	transition: 1s ease-in;
	font-size: 45px;
	font-weight: lighter;

}
.layer i {
	
}
.layer i.fa:hover {
	
	}
.gallery .col-md-4 img:hover, .layer:hover {
	opacity:0.85;
	background-color:  #ed145b;
	transition: 0.5s linear 0.5s;
	
}

.parallelogram-gal {
	transform: skewY(1.5deg);
	top: -5px;
	z-index: 3;
}
---------------------------
.pht {
    position: relative;
    width: 360px;
    height: 250px;
    overflow: hidden;
}

.pht::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 0px 360px;
    border-color: transparent transparent transparent #ed145b;
}
.gallery h3 {
	color: #5a5a5a;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.38px;
	text-align: left;
	padding: 20px 26px;
	margin-top: 0;

}
.gallery p {
	color: #5a5a5a;
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.38px;
	text-align: left;
	padding: 0 26px;
}

.gallery .show {
	text-align: center;
	color: #ed145b;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.38px;

}


.news-link {
	text-align: center;
	margin-top: 115px;
	height: 45px;
}

.news-link a {
	text-transform: uppercase;
	color: #ed145b;
	font-weight: 400;
	font-size: 15px;
	height: 40px;
	margin: 0 auto;
	display: inline-block;
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	text-decoration: none;
	animation-name: link;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.news {
	padding-bottom: 65px;
}

@keyframes link {
    0% {height: 40px;}
    50% {height: 45px;}
    100% {height: 40px;}
}
/*.arrow {
	transform: rotate(90deg);
	font-size: 30px;
}
.show {
	width: 200px;
	margin: 0 auto;
}
.show:hover {
	color: #fff;
	background-color:#ed145b;
	
	border-radius: 40px;
}



/*FREE********************************************************************************************/
.free{
	background-image: url(../img/free.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	width: 100%;
	min-height: 80vh;
}
.marche {
	padding-top: 148px;
}
.free h2 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 52px;
	letter-spacing: 0.95px;
	padding-bottom: 33px;
}
.free hr {
	margin: 0 auto;
	margin-bottom: 41px;

}
.free p {
	
	color: #fff;
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.38px;
	margin-bottom: 57px;
	margin: 0 330px;
}

/*DOWNLOAD******************************************************************************************/
.download {
	min-height: 90vh;
	width: 100%
	background-color: #f3f3f3;
	padding-left: 130px;
}
.download .text {
	margin-top: 75px;
	margin-left: 36px;
	margin-right: 110px;
}
.download img{
	margin-top: 84px;
	margin-bottom: 78px;
	max-width: 100%;
	max-height: auto;
}

.download h3 {
	color: #5a5a5a;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 38px;
	font-weight: 400;
	letter-spacing: 0.95px;
}
.download .line {
	margin: 40px 0; 
	
}

.download p {
	font-family: Lato;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.38px;
}
.download p .hide{
	visibility: hidden;
}
.download .intro-cta {
	text-align: left;
	margin-left: 36px;
}



/*FOOTER********************************************************************************************/
.footer {
	background-color: #2b2b2b;
	width: 100%;
	color: #fff;
	font-family: Lato;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
.footer .row {
	margin: 50px auto;
}
.footer .copy p {
	font-size: 15px;
	margin-right: 80px;
	
}
.footer .des p {
	font-size: 16px;
}
.footer .des p span {
	color: #ed145b;
	font-weight: 800;
}
.footer .my p {
	color: grey;
	text-transform: none;
	font-size: 16px;
	padding-bottom:20px;
}
